@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #222;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}


/* general */

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

#site-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}


/* header */

header {
    flex: 0 1 auto;
    border-bottom: 1px solid #aaa;
    height: 70px;
}

h1 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
}

/* https://stackoverflow.com/a/38948646/12317855 */
header {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    padding: 0 1rem;
}

#site-logo {
    font-size: 2.25rem;
    margin: auto 0.5rem;
}

#menu {
    grid-column-start: 3;
    margin-left: auto;
}

#menu button {
    height: 100%;
    width: 4rem;
    background-color: transparent;
    color: white;
}

#menu button:hover {
    background-color: #ccc;
    color: black;
}

#menu button:active {
    background-color: #aaa;
}

#menu i {
    font-size: 1.5rem;
}


/* footer */

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    background-color: #444;
    border-radius: 5px;
}



/* dialogs */

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    padding: 3em;
    background-color: #333;
    color: white;
    border-radius: 20px;
    text-align: center;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 25%);
}

dialog h2 {
    margin-bottom: 0.5em;
}

dialog p {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 0.25em;
}

.close-dialog {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 30px;
    width: 30px;

    font-size: 40px;
    color: white;
    background: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dialog-row {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    justify-content: center;
}

.dialog-letter {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;
    padding: 0.2rem;
    border: 2px solid #666;

    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}


/* notifications */

#notification-container {
    position: absolute;
    top: 70px;

    /* https://stackoverflow.com/a/8273750/12317855 */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;

    text-align: center;
}

.notification {
    font-family: Poppins, sans-serif;
    background-color: white;
    color: black;

    margin-bottom: 0.75em;
    padding: 0.75em 0.5em;
    border-radius: 5px;
}



/* game area */

main {
    height: 100%;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
}

#game-board {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.board-row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.board-letter {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;
    height: 4rem;
    border: 2px solid #666;
    padding: 0.25rem;

    font-family: Poppins, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

#keyboard {
    margin: 5px;
}

.keyboard-row {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    justify-content: center;
}

.keyboard-key {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    background-color: #777;
    color: white;
}

#key-enter, #key-backspace {
    width: 4rem;
}

.incorrect-letter {
    background-color: #444;
    border: none;
}

.present-letter {
    background-color: rgb(198, 198, 17);
    border: none;
}

.correct-letter {
    background: rgb(83, 149, 78);
    border: none;
}



/* media queries */

@media screen and (min-width: 30rem) {
    header {
        grid-template-columns: 1fr auto 1fr;
    }

    #site-logo {
        grid-column-start: 2;
    }
}

@media screen and (max-width: 720px) {
    footer {
        display: none;
    }
}